@page "/Products"
@using Project.CSharpFiles

<h3>Search Products</h3>

<br />

<SearchBarComponent OnSearch="HandleSearch"> </SearchBarComponent>

<br />

<table class="table">
    <thread>
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
        </tr>
    </thread>
    <tbody>
        @if (Products != null && Products.Count() > 0)
        {
            @foreach (var product in Products)
            {
                @if (product != null)
                {
                    <tr>
                        <td>
                            <NavLink href="@($"Product/{product.Barcode}")">
                                @product.Name
                            </NavLink>
                        </td>
                        <td>@product.Name</td>
                        <td>@product.Price.ToString("kr.")</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    cannot find products
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    
    public void Loop()
    {
        string[] placeholder = {"0209094010800000","0204044020100000","0201074000000000","0210061100700000","0109020080300000","0210001040000000","0209113060700000","0002002070700000","0005123090700000","0102072000400000" };
        foreach (var barcode in placeholder)
        {
            Product product = new Product(barcode);
            Products.Add(product);
        }

    }

    protected override Task OnInitializedAsync()
    {
        Loop();
        return base.OnInitializedAsync();
    }
    
    public List<Product> Products = new List<Product>() {};

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Products = GetProducts();
    }

    public void HandleSearch(string filter)
    {
        Products = GetProducts(filter);
    }


    public List<Product> GetProducts(string filter = null)
    {
        if (string.IsNullOrWhiteSpace(filter)) return Products;
        return Products;
    }

    [Parameter]
        public Product CartItem{ get; set; }
}