@page "/Timer"
@inherits TimerCode
@using System.IO

<h3>Timer</h3>

<button @onclick="Count" class="butt">Increment</button>
<br />

<a>@Counter</a>
<h2>Last updated: @dt</h2>

<br />

<th>
    @foreach (var item in Clicks)
    {
        <tr>Clicks: @item</tr>
    }
</th>