@page "/Timer"
@inherits TimerCode

<div class="page">


</div>
<style>
    .page {
        height: 500px;
    }
    .stats {
        float: left;
        height: fit-content;
        width: fit-content;
        border: 1px solid black;
        border-radius: 3px;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .butt {
        width: fit-content;
    }

    .kpis_select, .kpis_table, .kpis_dates {
        border: 1px solid black;
        border-radius: 3px;
        width: fit-content;
        height: fit-content;
        float: left;
    }


</style>