@page "/Cart"
@inherits ItemList

<h3>Din indkoebskurv</h3>

<div class="page">
    <div class="cart-overview">
        @foreach (var item in Order)
        {
            <div class="item-container">
                <p>@item.Type x @item.OrderAmount <p class="price">@item.subTotal,-</p></p>
                <button @onclick="() => { item.OrderAmount += ErrorPos(item.OrderAmount, item.StorageCount); item.CalcPrice(); CalcTotal(); }" class="btn nice"><b>+</b></button>
                <button @onclick="() => { item.OrderAmount -= ErrorNeg(item.OrderAmount, item.StorageCount); item.CalcPrice(); CalcTotal(); }" class="btn nice"><b>-</b></button>
                <button @onclick="() => { Order.Remove(item); CalcTotal(); RemoveError(); }" class="btn nice"><b>x</b></button>
            </div>
        }
        <div class="order-total">
            <p>Ordre Total:</p>
            <p> @Total,-</p>
            <b class="Supply_Demand">Not enough in stock :(</b>
            <b class="Negative_Order">If you want to remove press X instead</b>
            <a class="w3-button nice" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Checkout</a>
        </div>
    </div>
</div>

<style>
    .page {
        height: 500px;
    }

    .cart-overview {
        outline: solid;
        outline-color: black;
        width: 500px;
        background-color: #efefef;
    }

    .item-container {
        border-bottom: 1px solid;
        padding: 2px;
    }

    .selected {
        background-color: #efefef;
    }

    .order-total {
        background-color: #bababa;
    }

    .price {
        float: right;
    }

    .nice {
        background-color: white;
        border: solid 1px;
    }

    .cart-overview b {
        font-size: large;
    }
    
    .Supply_Demand {
        display: @Supply_Demand;
    }
    
    .Negative_Order {
        display: @NegativeOrder;
    }
</style>