@page "/Cart"
@inherits ItemList

<h3>Din indkoebskurv</h3>

<div class="page">
    <div class="cart-overview">
        @foreach (var item in Order)
        {
            <p>@item.Name x @item.OrderAmount <p class="price">@item.SubTotal,-</p></p>
            <button @onclick="() => { item.OrderAmount++; item.CalcPrice(); CalcTotal(); }" class="w3-button nice">Add</button>
            <button @onclick="() => { item.OrderAmount--; item.CalcPrice(); CalcTotal(); }" class="w3-button nice">Minus</button>
        }
        <div class="order-total">
            <p>Ordre Total:</p>
            <p> @Total,-</p>
            <a class="w3-button nice" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Checkout</a>
        </div>
    </div>
</div>

<style>
    .page {
        height: 500px;
    }
    .cart-overview {
        outline: solid;
        outline-color: black;
        width: 500px;
        background-color: #efefef;
    }

    .selected {
        background-color: #efefef;
    }

    .order-total {
        background-color: #bababa;
    }

    .price {
        float: right;
    }

    .nice {
        background-color: cornflowerblue;
    }
</style>