
<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <button class="w3-bar-item w3-button" @onclick="Dropdownbtn"><i class="fa fa-bars"></i><a> Kategorier</a></button>
    <div class="dropdown-content">
        <PrintList Pages="InsertPages"/>
        
    </div>
</div>

@code{
    List<string> InsertPages = new List<string>() { "Counter", "Admin", "Jackets", "Andreas", "Products" };
}

<style>
    .dropdown-content {
        display: none;
        display: @Visible;
    }
    .dropdown-content a{
        margin-left: 10px;
    }
    
</style>


@code {

    private string Visible;
    private int i = 1;

    private void Dropdownbtn()
    {
        i++;
        if (i % 2 == 0)
        {
            Visible = "block";
        }
        else
        {
            Visible = "none";
        }
    }
}
