@inherits DropdownCode
@using CSharpFiles

<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">

    @foreach (string selCat in categoryArray[0])
    {
        if (selCat != null)
        {
            <button class="w3-bar-item w3-button" @onclick="() => { Dropdownbtn(); CallSubcats(selCat); }"><i class="fa fa-bars"></i>@selCat</button>
        }
    }

    @if (typeArray != null && typeArray[0].Length != 0)
    {
        <div class="dropdown-content">
            <div class="Kasse">
                @foreach (string selSubCats in typeArray[0])
                {
                    @if (selSubCats != null)
                    {
                        <a href="Products/@selSubCats" class="w3-bar-item w3-button">@selSubCats</a>
                    }
                }
            </div>
        </div>
    }


</div>

<style>
    .dropdown-content {
        display: none;
        display: @Visible;
    }
    .dropdown-content a{
        margin-left: 10px;
    }
</style>
