<div>
    <label>
        <input @bind="newCategory" placeholder="Indtast kategori" />
    </label>

    <button @onclick="UpdateList">
        Update underkategorier
    </button>


    <label>
        <input @bind="newTitle" placeholder="Indtast Titel" />
    </label>

    <button @onclick="Insert">
        Update Titler
    </button>

</div>

@for (int i = 0; i < menuItems.Count; i++)
{
    <button class="w3-bar-item w3-button">@menuItems[i].name</button>
}

@for (int i = 0; i < menuItems.Count; i++)
 {
    <button class="w3-table">@menuItems[i]</button>
 }



@code {
   

    public void Insert()
    {
        menuItems.Add(newTitle);
    }

    public Category newCategory = new Category();


    public string newTitle = null;

    public void UpdateList()
    {
        menuItems.Add(newCategory);
    }

    public List<Category> menuItems = new List<Category>();

    public class Category : Items
    {
        public string name { get; set; }
        public List<Items> itemList = new List<Items>();

        public Category(Items articleName) : base(articleName)
        {
            itemList.Add(articleName);
        }
        
    }

    public class Items
    {
        //public int barCode { get; set; }
        public Items _articleName { get; set; }
        //public string colors { get; set; }
        //public string sizes { get; set; }
        //public string stock { get; set; }

        public Items(Items articleName)
        {
            _articleName = articleName;
        }
    }


}
