<div>
    <label>
        <input @bind="newCategory" placeholder="Indtast kategori" />
    </label>

    <button @onclick="UpdateList">
        Update underkategorier
    </button>


    <label>
        <input @bind="newTitle" placeholder="Indtast Titel" />
    </label>

    <button @onclick="Insert">
        Update Titler
    </button>

</div>

@for (int i = 0; i < Categories.Count; i++)
{
    <button class="w3-bar-item w3-button" @onclick="Dropdownbtn"><i class="fa fa-bars"></i><a>@Categories[i].CategoryName</a></button>
    <div class="dropdown-content2">
        @for (int k = 0; k < Categories[i].Items.Count; k++)
        {
            <button class="w3-bar-item w3-button">@Categories[i].Items[k].ItemName</button>
        }

    </div>


}
<style>
    .dropdown-content2 {
        display: none;
        display: @Visible;
    }
    .dropdown-content2 a{
        margin-left: 10px;
    }

</style>


@code {


    public string newTitle = null;
    public string newCategory = null;

    public class Category
    {
        public string CategoryName;
        public Category(string Name)
        {
            CategoryName = Name;
        }
        public List<Item> Items = new List<Item>();
    }

    public class Item
    {
        public string ItemName;
        public Item(string Name)
        {
            ItemName = Name;
        }
        // add size, color, price ...
    }

    public List<Category> Categories = new List<Category>();
    private Category selectedCategory = null;

    public void UpdateList()
    {
        selectedCategory = new Category(newCategory);
        Categories.Add(new Category(newCategory));
    }

    public void Insert()
    {
        foreach (Category category in Categories)
        {
            if (category.CategoryName == selectedCategory.CategoryName)
            {
                category.Items.Add(new Item(newTitle));
            }
        }
    }

    private string Visible;
    private int i = 1;

    private void Dropdownbtn()
    {
        i++;
        if (i % 2 == 0)
        {
            Visible = "block";
        }
        else
        {
            Visible = "none";
        }
    }
}
