<div>
    <label>
        <input @bind="newItem" placeholder="Indtast kategori" />
    </label>

    <button @onclick="UpdateList">
        Update underkategorier
    </button>


    <label>
        <input @bind="newTitle" placeholder="Indtast Titel" />
    </label>

    <button @onclick="Insert">
        Update Titler
    </button>

</div>

@for (int i = 0; i < MainList.Count; i++)
{
    <button class="w3-bar-item w3-button">@MainList[i].MyString</button>
}

@for (int i = 0; i < AddedItems.Count; i++)
 {
    <button class="w3-table">@AddedItems[i]</button>
 }



@code {

    public List<Menu> MainList = new List<Menu>();

    public void Insert()
    {
        MainList.Add(new Menu(newTitle));
    }

    public string newItem = null;

    public string newTitle = null;

        public void UpdateList()
        {
            AddedItems.Add(newItem);
        }

        public static List<string> AddedItems = new List<string>();

    public class Menu
    {
        public int Id;

        public Menu(string _mystring)
        {
            MyString = _mystring;
        }

            List<string> Category = AddedItems;


        public string MyString;

            public void CreateList(List<string> listname)
            {
                listname = new List<string> { "hej", "med", "dig" };
            }
            public string name = "Bigboy";
        }
}
