<label>
    <input @bind="newItem" placeholder="Indtast kategori" />
</label>
<button @onclick="UpdateList">
    Update list
</button>



@for (int i = 0; i < listepik.Count; i++)
{
    <button class="w3-bar-item w3-button">@listepik[i][i]</button>
}


@code {
    
    private List<string> listepik = new List<string> { ".Net", "Python", "Java" };

    private string newItemList;
    private string newItem;

    private void UpdateList()
    {
        listepik.Add(newItem);

    }
}