<div>
    <label>
        <input @bind="newItem" placeholder="Indtast kategori" />
    </label>
    <button @onclick="UpdateList">
        Update list
    </button>

    <button >
        Update lmao
    </button>

</div>

@for (int i = 0; i < listepik.Count; i++)
{
    <button class="w3-bar-item w3-button">@listepik[i]</button>
}


@code {

    MenuListen MainList = new MenuListen("lol");

    List<MenuListen> BigTiddieGothGf = new List<MenuListen>();
            

    public class MenuListen
    {

        public MenuListen(string _mylist)
        {
            MyList = _mylist;
        }

        public string MyList { get; set; }

        public void CreateList(List<string> listname)
        {
            listname = new List<string> { "hej", "med", "dig" };
        }

    }
  

    private List<string> listepik = new List<string> { ".Net", "Python", "Java" };

    private string newItemList;
    private string newItem = "lol";

    private void UpdateList()
    {
        listepik.Add(newItem);

    }
}