@code {
    [Parameter]
    public List<string> Pages { get; set; }
}

<div class="Kasse">
    @for (int i = 0; i < Pages.Count; i++)
    {
        <a href="Products" class="w3-bar-item w3-button">@Pages[i]</a>
    }
</div>