@using Project.CSharpFiles
<div class="input-group mb-3">
    <div class="input-group-text">
        <input type="text" class="form-control" @bind-value="filter" placeholder="Søg her" aria-label="Text input with checkbox">
        <button  class="butt" @onclick="HandleSearchBar"> <i class="fa fa-search"></i> </button>
    </div>
</div>

@code {
    private string filter;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void HandleSearchBar()
    {
        OnSearch.InvokeAsync(filter);
    }
}
