@page "/counter"

<h1>Counter</h1>


<button class="btn btn-success" @onclick="@(x=> click("yellow"))">Legoo</button>


<p class="@mycss">Andreas is a twat </p>

@code { 
    public string mycss, _color;

    protected void click(string color)
    {
        _color = color;
    }
}

<style @bind-="@mycss">
    Color: @_color;
</style>>