@page "/"
<!-- Product grid -->
<div class="w3-row">
    <div class="w3-col l3 s6">
        <div class="w3-container">
            <img src="/Images/bedøvet vuf.png" style="width:80%">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </div>
        <div class="w3-container">
            <img src="/Images/bedøvet vuf.png" style="width:80%">
            <p>Mega Ripped Jeans<br><b>$19.99</b></p>
        </div>
    </div>

    <div class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="/Images/bedøvet vuf.png" style="width:80%">
            </div>
            <p>Mega Ripped Jeans<br><b>$19.99</b></p>
        </div>
        <div class="w3-container">
            <img src="/Images/bedøvet vuf.png" style="width:80%">
            <p>Washed Skinny Jeans<br><b>$20.50</b></p>
        </div>
    </div>

    <div class="w3-col l3 s6">
        <div class="w3-container">
            <img src="/Images/bedøvet vuf.png" style="width:80%">
            <p>Washed Skinny Jeans<br><b>$20.50</b></p>
        </div>
        <div class="w3-container">
            <div class="w3-display-container">
                <img src="/Images/bedøvet vuf.png" style="width:80%">
            </div>
            <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
        </div>
    </div>

    <div class="w3-col l3 s6">
        <div class="w3-container">
            <img src="/Images/bedøvet vuf.png" style="width:80%">
            <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
        </div>
        <div class="w3-container">
            <img src="/Images/bedøvet vuf.png" style="width:80%">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </div>
    </div>
</div>