@using Project.CSharpFiles;
@using System.Linq;


@page "/"
@page "/index"
    <!-- Product grid -->
    @if (ViewedProducts != null && ViewedProducts.Count() > 0)
    {
        <p> Most Viewed Products </p>
        <div class="row">
            @foreach (var product in ViewedProducts)
            {
                <ProductCard Product="product"></ProductCard>
            }
        </div>
    }
    else
    {
        <p> No Products Found :(</p>
    }

    @code
    {
        public List<Product> GetProductIDs;
        public List<Product> ViewedProducts = new List<Product>();
        public DbCall call = new DbCall();

        protected override void OnInitialized()
        {
            GetProductIDs = call.MostKPIViews(10);

            foreach (var product in GetProductIDs)
            {
                Console.WriteLine(product);
                ViewedProducts.Add(call.GetProdByID(product.Id));
            }
            ViewedProducts.ForEach(x => Console.WriteLine(x.Views));
        }
    }