@page "/Admin"
@inherits AdminCode

<div class="page">
    <h1>Admin page</h1>
    <div class="container">
        <div>
            <div>
                <h4>Create Category</h4>
                <label>
                    <input @bind="newCategory" required placeholder="Indtast kategori titel" />
                </label>

                <button class="butt tilføj" @onclick="UpdateList">
                    Update kategorier
                </button>
            </div>
            <div>
                <h4>Create Subcategory</h4>


                <label>
                    <input @bind="newTitle" required placeholder="Indtast subkategori titel" />
                </label>

                <button class="butt tilføj" @onclick="Insert">
                    Update subkategori
                </button>
            </div>
            <div>
                <h4>Remove a Category or Item</h4>
                <label>
                    <input list="Categories" @bind="CategoryToRemove" placeholder="Fjern Kategori eller item" />
                </label>

                <button class="butt fjern" @onclick="Remove">
                    Fjern
                </button>

                <datalist id="Categories">
                    @foreach (Category category in Categories)
                    {
                        <option value=@category.CategoryName></option>
                        foreach (Subcategory subcategory in category.Subcategory)
                        {
                            
                            <option value=@subcategory.SubcategoryName></option>
                        }
                    }
                </datalist>
            </div>
        </div>
    </div>

    <div class="container2">

        <label for="Category">Choose which category to create subcategory for:</label>
        <select name="Category" id="Category" @bind="selectedCategory">
            @foreach (Category category in Categories)
            {
                <option value=@category.CategoryName>@category.CategoryName</option>
            }
        </select>

        @for (int i = 0; i < Categories.Count; i++)
        {
            if (selectedCategory == Categories[i].CategoryName)
            {
                <button class="w3-bar-Subcategory w3-button" @onclick="Dropdownbtn"><i class="fa fa-bars"></i><a>@Categories[i].CategoryName</a></button>
                <div class="dropdown-content2">
                    @for (int k = 0; k < Categories[i].Subcategory.Count; k++)
                    {
                        <button class="w3-bar-Subcategory w3-button">@Categories[i].Subcategory[k].SubcategoryName</button>
                    }
                </div>
            }
        }
    </div>
</div>



<style>

    .page {
        height: fit-content;
        overflow: auto;
        margin-bottom: 30px;
    }

    .dropdown-content2 {
        display: none;
        display: @Visible;
    }
    .dropdown-content2 a{
        margin-left: 10px;
    }

    .container {
        float: left;
        border: 1px solid black;
        border-radius: 3px;
        width: 500px;
        height: fit-content;
        background-color: #efefef;
        float: left;
        overflow: auto;
    }

    .container2 {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        border: 1px solid black;
        border-radius: 3px;
        width: 500px;
        height: 240px;
        overflow: auto;
        margin-left: 20px;
        background-color: #efefef;
        float: left;
        overflow: auto;
    }

    .fjern {
        width: fit-content;
        background-color: gray;
        height: 30px;
        font-size: small;
        padding-left: 10px;
        padding-right: 10px;
    }

        .fjern:hover {
           /*box-shadow: 0px 2px 10px 5px red;*/
        }

    .tilføj {
        width: fit-content;
        font-size: small;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: gray;
    }

        .tilføj:hover {
            /*box-shadow: 0px 2px 10px 5px green;*/
        }

</style>