@page "/Admin"
@inherits AdminCode


<h1>Admin page</h1>
<div>
    <div>
        <h4>Create Category</h4>
        <label>
            <input @bind="newCategory" placeholder="Indtast kategori" />
        </label>

        <button @onclick="UpdateList">
            Update kategorier
        </button>
    </div>
    <div>
        <h4>Create Subcategory</h4>
        <label for="Category">Choose which category to create subcategory for:</label>
        <select name="Category" id="Category" @bind="selectedCategory">
            @foreach (Category category in Categories)
            {
                <option value=@category.CategoryName>@category.CategoryName</option>
            }
        </select>
        <br />
        <label>
            <input @bind="newTitle" placeholder="Indtast Titel" />
        </label>

        <button @onclick="Insert">
            Update Titler
        </button>
    </div>
    <div>
        <h4>Remove a Category or Item</h4>
        <label>
            <input list="Categories" @bind="CategoryToRemove" placeholder="Fjern Kategori eller item" />
        </label>

        <button @onclick="Remove">
            Fjern
        </button>

        <datalist id="Categories">
            @foreach (Category category in Categories)
            {
                <option value=@category.CategoryName></option>
                foreach (Subcategory subcategory in category.Subcategory)
                {
                    <option value=@subcategory.SubcategoryName></option>
                }
            }
        </datalist>
    </div>
</div>

@for (int i = 0; i < Categories.Count; i++)
{
    if (selectedCategory == Categories[i].CategoryName)
    {
        <button class="w3-bar-Subcategory w3-button" @onclick="Dropdownbtn"><i class="fa fa-bars"></i><a>@Categories[i].CategoryName</a></button>
        <div class="dropdown-content2">
            @for (int k = 0; k < Categories[i].Subcategory.Count; k++)
            {
                <button class="w3-bar-Subcategory w3-button">@Categories[i].Subcategory[k].SubcategoryName</button>
            }

        </div>
    }
}

<style>
    .dropdown-content2 {
        display: none;
        display: @Visible;
    }
    .dropdown-content2 a{
        margin-left: 10px;
    }
</style>