@page "/Kpi"
@inherits KpiCode
@using CSharpFiles


<div class="page">
    <h3>Kpi</h3>
    <div class="item-list">
        <table>
            <tr>
                <th>Product Name</th>
                <th>ID</th>
                <th>IMG</th>
                <th>Show KPI</th>
            </tr>
            <tr>
                <td>Bukser</td>
                <td>47</td>
                <th>IMG</th>
                <td style="text-align:center"><button class="butt" @onclick="Popup"><i class="fa fa-times"></i></button></td>
            </tr>
            <tr>
                <td>Shirt</td>
                <td>12</td>
                <th>IMG</th>
                <td style="text-align:center"><button class="butt" @onclick="Popup"><i class="fa fa-times"></i></button></td>
            </tr>
            <tr>
                <td>Hat</td>
                <td>52</td>
                <th>IMG</th>
                <td style="text-align:center"><button class="butt" @onclick="Popup"><i class="fa fa-times"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="specific-item">
        <table>
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Size</th>
                <th>Prize</th>
                <th>Stock</th>
                <th>IMG</th>
                <th>Stats</th>
            </tr>
            <tr>
                <td>The Buks</td>
                <td>Bukser</td>
                <td>Blue</td>
                <th>XXL</th>
                <th>1000,-</th>
                <th>12</th>
                <th>IMG</th>
                <td style="text-align:center"><button class="butt"><i class="fa fa-times"></i></button></td>
            </tr>
            <tr>
                <td>The Buks</td>
                <td>Bukser</td>
                <td>Red</td>
                <th>S</th>
                <th>1000,-</th>
                <th>5</th>
                <th>IMG</th>
                <td style="text-align:center"><button class="butt" @onclick="StatsPopup"><i class="fa fa-times"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="stats">
        <table>
            <tr>
                <td></td>
                @foreach (var Month in Months)
                {
                    <th>@Month</th>
                }
            </tr>

            @foreach (var item in Kpis)
            {
                <tr>
                    <th>@item</th>
                    @foreach (var stat in Percent)
                    {
                        <th>@stat</th>
                    }
                </tr>
            }
        </table>
    </div>
</div>


<style>
    .page {
        height: 500px;
    }

    .item-list, .specific-item, .stats {
        float: left;
        height: fit-content;
        width: fit-content;
        border: 1px solid black;
        border-radius: 3px;
    }

    .specific-item, .stats{
        margin-left: 50px;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .specific-item {
        display: none;
        display: @Visible;
    }

</style>